.env
.env.*
*.env
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/
postgres-data/
*.log
logs/
fider/node_modules/
fider/dist/
fider/.cache/
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform/.terraform/*
terraform/.terraform